MODEL_PROVIDER=your_model_provider
MODEL_API_KEY=your_model_provide_api_key
MODEL=claude-haiku-4-5-20251001
EMBEDDINGS_MODEL_PROVIDER=your_embeddings_model_provider
EMBEDDINGS_MODEL_API_KEY=your_embeddings_model_api_key
EMBEDDINGS_MODEL=google/embeddinggemma-300m
